<div class="download-layout">
  <div class="load-layout">
    <div class="header2">Загрузка статьи для перевода</div>
    <form [formGroup]="loadForm" (onSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Название статьи</mat-label>
        <input matInput formControlName="textTitle">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Текст статьи для перевода</mat-label>
        <textarea matInput rows="10" formControlName="textContent"></textarea>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="loadForm.invalid" (click)="onSubmit()">Загрузить
        статью</button>
      <button mat-raised-button type="reset">Очистить форму</button>
    </form>
  </div>
  <div class="result-layout">
    <div class="header2">Результат перевода</div>
    <div class="result" *ngIf="newText">
      <span>{{newText.textContent}}</span>

    </div>
    <div class="new-words-layout">
      <div class="header2" *ngIf="wordsArray && wordsArray.length > 0">Слова для перевода</div>

      <div [formGroup]="newWordsForm">
        <div formArrayName="newWordsArray" class="new-words">
          <ng-container *ngIf="wordsArray && newWordsArray['controls'].length > 0">
            <div *ngFor="let form of newWordsArray['controls']; let i =index;" style="width:47%;">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline">
                  <mat-label>Перевод слова <span class="new-word">{{wordsArray[i]}}</span></mat-label>
                  <input matInput formControlName="translate">
                </mat-form-field>
              </div>
            </div>
            <div class="middle-flex" style="width:100%;"><button mat-raised-button type="submit" (click)="saveToDictionary()">Сохранить в словарь</button></div>

          </ng-container>

        </div>
      </div>

    </div>
  </div>
</div>