mat-card {
    margin: 10px 5px;
    mat-tab {
        width: 30vw;
        .tab-icon {
            margin-right: 6px;
        }
    }
}
.example-spacer {
    flex: 1 1 auto;
}
.description {
    color: #005c9e;
    text-align: center;
    margin: 5px auto;
    font-weight: 450;
}
.center-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
